name: Sanity self-tests

on:
  pull_request:

jobs:
  waivers-syntax-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Contest deps
        run: |
            sudo apt-get update
            sudo apt-get install -y python3-rpm python3-dnf
      - name: Collect waivers
        run: |
            python3 <<'EOF'
            import sys
            from lib import waive
            try:
              list(waive.collect_waivers())
              sys.exit(0)
            except waive.WaiveParseError as e:
              print(str(e))
              sys.exit(1)
            EOF
      - name: Check Vim modeline empty line
        run: |
            function err { echo -e "error: $1" >&2; exit 1; }
            for file in conf/waivers/*; do
                [[ -f "$file" ]] || err "$file not found"
                out=$(grep -B1 '^# vim' "$file") || err "vim modeline not found in $file"
                out=$(head -n1 <<<"$out")
                if [[ $out ]]; then
                    msg="line above vim modeline in $file not empty: $out"
                    msg+="\nPlease keep one empty line above the vim modeline."
                    err "$msg"
                fi
            done
  ruff:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install ruff
        run: python3 -m pip install ruff
      - name: Run ruff check
        run: ruff check
  flake8-picky-parentheses:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install flake8-picky-parentheses
        run: python3 -m pip install flake8 flake8-picky-parentheses
      - name: Run flake8 check
        run: |
          python3 -m flake8 \
            --isolated \
            --require-plugins flake8-picky-parentheses \
            --select PAR1
  tmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install tmt
        run: python3 -m pip install tmt
      - name: Run tmt lint
        run: tmt lint --failed-only
      - name: Run basic tmt run discover
        run: tmt run -v plans -n /plans/default discover -h fmf
